# This file was created by the command:
# steps/nnet3/xconfig_to_configs.py --xconfig-file exp/chain/tdnn_cnn_tdnnf_1a_ft_15hs_combined_ft_15hs_combined_sp/configs/network.xconfig --config-dir exp/chain/tdnn_cnn_tdnnf_1a_ft_15hs_combined_ft_15hs_combined_sp/configs/
# It contains the entire neural network.

input-node name=ivector dim=100
input-node name=input dim=40
component name=idct type=FixedAffineComponent matrix=exp/chain/tdnn_cnn_tdnnf_1a_ft_15hs_combined_ft_15hs_combined_sp/configs/idct.mat
component-node name=idct component=idct input=input
component name=ivector-linear type=LinearComponent input-dim=100 output-dim=200  max-change=0.75 l2-regularize=0.0
component-node name=ivector-linear component=ivector-linear input=ReplaceIndex(ivector, t, 0)
component name=ivector-batchnorm type=BatchNormComponent dim=200 target-rms=0.025
component-node name=ivector-batchnorm component=ivector-batchnorm input=ivector-linear
component name=idct-batchnorm type=BatchNormComponent dim=40 target-rms=1.0
component-node name=idct-batchnorm component=idct-batchnorm input=idct
component name=combine_inputs type=PermuteComponent column-map=0,40,41,42,43,44,1,45,46,47,48,49,2,50,51,52,53,54,3,55,56,57,58,59,4,60,61,62,63,64,5,65,66,67,68,69,6,70,71,72,73,74,7,75,76,77,78,79,8,80,81,82,83,84,9,85,86,87,88,89,10,90,91,92,93,94,11,95,96,97,98,99,12,100,101,102,103,104,13,105,106,107,108,109,14,110,111,112,113,114,15,115,116,117,118,119,16,120,121,122,123,124,17,125,126,127,128,129,18,130,131,132,133,134,19,135,136,137,138,139,20,140,141,142,143,144,21,145,146,147,148,149,22,150,151,152,153,154,23,155,156,157,158,159,24,160,161,162,163,164,25,165,166,167,168,169,26,170,171,172,173,174,27,175,176,177,178,179,28,180,181,182,183,184,29,185,186,187,188,189,30,190,191,192,193,194,31,195,196,197,198,199,32,200,201,202,203,204,33,205,206,207,208,209,34,210,211,212,213,214,35,215,216,217,218,219,36,220,221,222,223,224,37,225,226,227,228,229,38,230,231,232,233,234,39,235,236,237,238,239 
component-node name=combine_inputs component=combine_inputs input=Append(idct-batchnorm, ivector-batchnorm)
component name=cnn1.conv type=TimeHeightConvolutionComponent max-change=0.75 num-filters-in=6 num-filters-out=64 height-in=40 height-out=40 height-subsample-out=1 height-offsets=-1,0,1 time-offsets=-1,0,1 l2-regularize=0.01
component-node name=cnn1.conv component=cnn1.conv input=combine_inputs
component name=cnn1.relu type=RectifiedLinearComponent dim=2560 block-dim=64 self-repair-scale=2e-05 self-repair-lower-threshold=0.05
component-node name=cnn1.relu component=cnn1.relu input=cnn1.conv
component name=cnn1.batchnorm  type=BatchNormComponent dim=2560 block-dim=64 target-rms=1.0
component-node name=cnn1.batchnorm component=cnn1.batchnorm input=cnn1.relu
component name=cnn2.conv type=TimeHeightConvolutionComponent max-change=0.75 num-filters-in=64 num-filters-out=64 height-in=40 height-out=40 height-subsample-out=1 height-offsets=-1,0,1 time-offsets=-1,0,1 l2-regularize=0.01
component-node name=cnn2.conv component=cnn2.conv input=cnn1.batchnorm
component name=cnn2.relu type=RectifiedLinearComponent dim=2560 block-dim=64 self-repair-scale=2e-05 self-repair-lower-threshold=0.05
component-node name=cnn2.relu component=cnn2.relu input=cnn2.conv
component name=cnn2.batchnorm  type=BatchNormComponent dim=2560 block-dim=64 target-rms=1.0
component-node name=cnn2.batchnorm component=cnn2.batchnorm input=cnn2.relu
component name=cnn3.conv type=TimeHeightConvolutionComponent max-change=0.75 num-filters-in=64 num-filters-out=128 height-in=40 height-out=20 height-subsample-out=2 height-offsets=-1,0,1 time-offsets=-1,0,1 l2-regularize=0.01
component-node name=cnn3.conv component=cnn3.conv input=cnn2.batchnorm
component name=cnn3.relu type=RectifiedLinearComponent dim=2560 block-dim=128 self-repair-scale=2e-05 self-repair-lower-threshold=0.05
component-node name=cnn3.relu component=cnn3.relu input=cnn3.conv
component name=cnn3.batchnorm  type=BatchNormComponent dim=2560 block-dim=128 target-rms=1.0
component-node name=cnn3.batchnorm component=cnn3.batchnorm input=cnn3.relu
component name=cnn4.conv type=TimeHeightConvolutionComponent max-change=0.75 num-filters-in=128 num-filters-out=128 height-in=20 height-out=20 height-subsample-out=1 height-offsets=-1,0,1 time-offsets=-1,0,1 l2-regularize=0.01
component-node name=cnn4.conv component=cnn4.conv input=cnn3.batchnorm
component name=cnn4.relu type=RectifiedLinearComponent dim=2560 block-dim=128 self-repair-scale=2e-05 self-repair-lower-threshold=0.05
component-node name=cnn4.relu component=cnn4.relu input=cnn4.conv
component name=cnn4.batchnorm  type=BatchNormComponent dim=2560 block-dim=128 target-rms=1.0
component-node name=cnn4.batchnorm component=cnn4.batchnorm input=cnn4.relu
component name=cnn5.conv type=TimeHeightConvolutionComponent max-change=0.75 num-filters-in=128 num-filters-out=256 height-in=20 height-out=10 height-subsample-out=2 height-offsets=-1,0,1 time-offsets=-1,0,1 l2-regularize=0.01
component-node name=cnn5.conv component=cnn5.conv input=cnn4.batchnorm
component name=cnn5.relu type=RectifiedLinearComponent dim=2560 block-dim=256 self-repair-scale=2e-05 self-repair-lower-threshold=0.05
component-node name=cnn5.relu component=cnn5.relu input=cnn5.conv
component name=cnn5.batchnorm  type=BatchNormComponent dim=2560 block-dim=256 target-rms=1.0
component-node name=cnn5.batchnorm component=cnn5.batchnorm input=cnn5.relu
component name=cnn6.conv type=TimeHeightConvolutionComponent max-change=0.75 num-filters-in=256 num-filters-out=256 height-in=10 height-out=10 height-subsample-out=1 height-offsets=-1,0,1 time-offsets=-1,0,1 l2-regularize=0.01
component-node name=cnn6.conv component=cnn6.conv input=cnn5.batchnorm
component name=cnn6.relu type=RectifiedLinearComponent dim=2560 block-dim=256 self-repair-scale=2e-05 self-repair-lower-threshold=0.05
component-node name=cnn6.relu component=cnn6.relu input=cnn6.conv
component name=cnn6.batchnorm  type=BatchNormComponent dim=2560 block-dim=256 target-rms=1.0
component-node name=cnn6.batchnorm component=cnn6.batchnorm input=cnn6.relu
component name=tdnnf7.linear type=TdnnComponent input-dim=2560 output-dim=256 l2-regularize=0.008 max-change=0.75 use-bias=false time-offsets=0 orthonormal-constraint=-1.0
component-node name=tdnnf7.linear component=tdnnf7.linear input=cnn6.batchnorm
component name=tdnnf7.affine type=TdnnComponent input-dim=256 output-dim=1536 l2-regularize=0.008 max-change=0.75 time-offsets=0
component-node name=tdnnf7.affine component=tdnnf7.affine input=tdnnf7.linear
component name=tdnnf7.relu type=RectifiedLinearComponent dim=1536 self-repair-scale=1e-05
component-node name=tdnnf7.relu component=tdnnf7.relu input=tdnnf7.affine
component name=tdnnf7.batchnorm type=BatchNormComponent dim=1536
component-node name=tdnnf7.batchnorm component=tdnnf7.batchnorm input=tdnnf7.relu
component name=tdnnf7.dropout type=GeneralDropoutComponent dim=1536 dropout-proportion=0.0 continuous=true
component-node name=tdnnf7.dropout component=tdnnf7.dropout input=tdnnf7.batchnorm
component name=tdnnf8.linear type=TdnnComponent input-dim=1536 output-dim=160 l2-regularize=0.008 max-change=0.75 use-bias=false time-offsets=-3,0 orthonormal-constraint=-1.0
component-node name=tdnnf8.linear component=tdnnf8.linear input=tdnnf7.dropout
component name=tdnnf8.affine type=TdnnComponent input-dim=160 output-dim=1536 l2-regularize=0.008 max-change=0.75 time-offsets=0,3
component-node name=tdnnf8.affine component=tdnnf8.affine input=tdnnf8.linear
component name=tdnnf8.relu type=RectifiedLinearComponent dim=1536 self-repair-scale=1e-05
component-node name=tdnnf8.relu component=tdnnf8.relu input=tdnnf8.affine
component name=tdnnf8.batchnorm type=BatchNormComponent dim=1536
component-node name=tdnnf8.batchnorm component=tdnnf8.batchnorm input=tdnnf8.relu
component name=tdnnf8.dropout type=GeneralDropoutComponent dim=1536 dropout-proportion=0.0 continuous=true
component-node name=tdnnf8.dropout component=tdnnf8.dropout input=tdnnf8.batchnorm
component name=tdnnf8.noop type=NoOpComponent dim=1536
component-node name=tdnnf8.noop component=tdnnf8.noop input=Sum(Scale(0.75, tdnnf7.dropout), tdnnf8.dropout)
component name=tdnnf9.linear type=TdnnComponent input-dim=1536 output-dim=160 l2-regularize=0.008 max-change=0.75 use-bias=false time-offsets=-3,0 orthonormal-constraint=-1.0
component-node name=tdnnf9.linear component=tdnnf9.linear input=tdnnf8.noop
component name=tdnnf9.affine type=TdnnComponent input-dim=160 output-dim=1536 l2-regularize=0.008 max-change=0.75 time-offsets=0,3
component-node name=tdnnf9.affine component=tdnnf9.affine input=tdnnf9.linear
component name=tdnnf9.relu type=RectifiedLinearComponent dim=1536 self-repair-scale=1e-05
component-node name=tdnnf9.relu component=tdnnf9.relu input=tdnnf9.affine
component name=tdnnf9.batchnorm type=BatchNormComponent dim=1536
component-node name=tdnnf9.batchnorm component=tdnnf9.batchnorm input=tdnnf9.relu
component name=tdnnf9.dropout type=GeneralDropoutComponent dim=1536 dropout-proportion=0.0 continuous=true
component-node name=tdnnf9.dropout component=tdnnf9.dropout input=tdnnf9.batchnorm
component name=tdnnf9.noop type=NoOpComponent dim=1536
component-node name=tdnnf9.noop component=tdnnf9.noop input=Sum(Scale(0.75, tdnnf8.noop), tdnnf9.dropout)
component name=tdnnf10.linear type=TdnnComponent input-dim=1536 output-dim=160 l2-regularize=0.008 max-change=0.75 use-bias=false time-offsets=-3,0 orthonormal-constraint=-1.0
component-node name=tdnnf10.linear component=tdnnf10.linear input=tdnnf9.noop
component name=tdnnf10.affine type=TdnnComponent input-dim=160 output-dim=1536 l2-regularize=0.008 max-change=0.75 time-offsets=0,3
component-node name=tdnnf10.affine component=tdnnf10.affine input=tdnnf10.linear
component name=tdnnf10.relu type=RectifiedLinearComponent dim=1536 self-repair-scale=1e-05
component-node name=tdnnf10.relu component=tdnnf10.relu input=tdnnf10.affine
component name=tdnnf10.batchnorm type=BatchNormComponent dim=1536
component-node name=tdnnf10.batchnorm component=tdnnf10.batchnorm input=tdnnf10.relu
component name=tdnnf10.dropout type=GeneralDropoutComponent dim=1536 dropout-proportion=0.0 continuous=true
component-node name=tdnnf10.dropout component=tdnnf10.dropout input=tdnnf10.batchnorm
component name=tdnnf10.noop type=NoOpComponent dim=1536
component-node name=tdnnf10.noop component=tdnnf10.noop input=Sum(Scale(0.75, tdnnf9.noop), tdnnf10.dropout)
component name=tdnnf11.linear type=TdnnComponent input-dim=1536 output-dim=160 l2-regularize=0.008 max-change=0.75 use-bias=false time-offsets=-3,0 orthonormal-constraint=-1.0
component-node name=tdnnf11.linear component=tdnnf11.linear input=tdnnf10.noop
component name=tdnnf11.affine type=TdnnComponent input-dim=160 output-dim=1536 l2-regularize=0.008 max-change=0.75 time-offsets=0,3
component-node name=tdnnf11.affine component=tdnnf11.affine input=tdnnf11.linear
component name=tdnnf11.relu type=RectifiedLinearComponent dim=1536 self-repair-scale=1e-05
component-node name=tdnnf11.relu component=tdnnf11.relu input=tdnnf11.affine
component name=tdnnf11.batchnorm type=BatchNormComponent dim=1536
component-node name=tdnnf11.batchnorm component=tdnnf11.batchnorm input=tdnnf11.relu
component name=tdnnf11.dropout type=GeneralDropoutComponent dim=1536 dropout-proportion=0.0 continuous=true
component-node name=tdnnf11.dropout component=tdnnf11.dropout input=tdnnf11.batchnorm
component name=tdnnf11.noop type=NoOpComponent dim=1536
component-node name=tdnnf11.noop component=tdnnf11.noop input=Sum(Scale(0.75, tdnnf10.noop), tdnnf11.dropout)
component name=tdnnf12.linear type=TdnnComponent input-dim=1536 output-dim=160 l2-regularize=0.008 max-change=0.75 use-bias=false time-offsets=-3,0 orthonormal-constraint=-1.0
component-node name=tdnnf12.linear component=tdnnf12.linear input=tdnnf11.noop
component name=tdnnf12.affine type=TdnnComponent input-dim=160 output-dim=1536 l2-regularize=0.008 max-change=0.75 time-offsets=0,3
component-node name=tdnnf12.affine component=tdnnf12.affine input=tdnnf12.linear
component name=tdnnf12.relu type=RectifiedLinearComponent dim=1536 self-repair-scale=1e-05
component-node name=tdnnf12.relu component=tdnnf12.relu input=tdnnf12.affine
component name=tdnnf12.batchnorm type=BatchNormComponent dim=1536
component-node name=tdnnf12.batchnorm component=tdnnf12.batchnorm input=tdnnf12.relu
component name=tdnnf12.dropout type=GeneralDropoutComponent dim=1536 dropout-proportion=0.0 continuous=true
component-node name=tdnnf12.dropout component=tdnnf12.dropout input=tdnnf12.batchnorm
component name=tdnnf12.noop type=NoOpComponent dim=1536
component-node name=tdnnf12.noop component=tdnnf12.noop input=Sum(Scale(0.75, tdnnf11.noop), tdnnf12.dropout)
component name=tdnnf13.linear type=TdnnComponent input-dim=1536 output-dim=160 l2-regularize=0.008 max-change=0.75 use-bias=false time-offsets=-3,0 orthonormal-constraint=-1.0
component-node name=tdnnf13.linear component=tdnnf13.linear input=tdnnf12.noop
component name=tdnnf13.affine type=TdnnComponent input-dim=160 output-dim=1536 l2-regularize=0.008 max-change=0.75 time-offsets=0,3
component-node name=tdnnf13.affine component=tdnnf13.affine input=tdnnf13.linear
component name=tdnnf13.relu type=RectifiedLinearComponent dim=1536 self-repair-scale=1e-05
component-node name=tdnnf13.relu component=tdnnf13.relu input=tdnnf13.affine
component name=tdnnf13.batchnorm type=BatchNormComponent dim=1536
component-node name=tdnnf13.batchnorm component=tdnnf13.batchnorm input=tdnnf13.relu
component name=tdnnf13.dropout type=GeneralDropoutComponent dim=1536 dropout-proportion=0.0 continuous=true
component-node name=tdnnf13.dropout component=tdnnf13.dropout input=tdnnf13.batchnorm
component name=tdnnf13.noop type=NoOpComponent dim=1536
component-node name=tdnnf13.noop component=tdnnf13.noop input=Sum(Scale(0.75, tdnnf12.noop), tdnnf13.dropout)
component name=tdnnf14.linear type=TdnnComponent input-dim=1536 output-dim=160 l2-regularize=0.008 max-change=0.75 use-bias=false time-offsets=-3,0 orthonormal-constraint=-1.0
component-node name=tdnnf14.linear component=tdnnf14.linear input=tdnnf13.noop
component name=tdnnf14.affine type=TdnnComponent input-dim=160 output-dim=1536 l2-regularize=0.008 max-change=0.75 time-offsets=0,3
component-node name=tdnnf14.affine component=tdnnf14.affine input=tdnnf14.linear
component name=tdnnf14.relu type=RectifiedLinearComponent dim=1536 self-repair-scale=1e-05
component-node name=tdnnf14.relu component=tdnnf14.relu input=tdnnf14.affine
component name=tdnnf14.batchnorm type=BatchNormComponent dim=1536
component-node name=tdnnf14.batchnorm component=tdnnf14.batchnorm input=tdnnf14.relu
component name=tdnnf14.dropout type=GeneralDropoutComponent dim=1536 dropout-proportion=0.0 continuous=true
component-node name=tdnnf14.dropout component=tdnnf14.dropout input=tdnnf14.batchnorm
component name=tdnnf14.noop type=NoOpComponent dim=1536
component-node name=tdnnf14.noop component=tdnnf14.noop input=Sum(Scale(0.75, tdnnf13.noop), tdnnf14.dropout)
component name=tdnnf15.linear type=TdnnComponent input-dim=1536 output-dim=160 l2-regularize=0.008 max-change=0.75 use-bias=false time-offsets=-3,0 orthonormal-constraint=-1.0
component-node name=tdnnf15.linear component=tdnnf15.linear input=tdnnf14.noop
component name=tdnnf15.affine type=TdnnComponent input-dim=160 output-dim=1536 l2-regularize=0.008 max-change=0.75 time-offsets=0,3
component-node name=tdnnf15.affine component=tdnnf15.affine input=tdnnf15.linear
component name=tdnnf15.relu type=RectifiedLinearComponent dim=1536 self-repair-scale=1e-05
component-node name=tdnnf15.relu component=tdnnf15.relu input=tdnnf15.affine
component name=tdnnf15.batchnorm type=BatchNormComponent dim=1536
component-node name=tdnnf15.batchnorm component=tdnnf15.batchnorm input=tdnnf15.relu
component name=tdnnf15.dropout type=GeneralDropoutComponent dim=1536 dropout-proportion=0.0 continuous=true
component-node name=tdnnf15.dropout component=tdnnf15.dropout input=tdnnf15.batchnorm
component name=tdnnf15.noop type=NoOpComponent dim=1536
component-node name=tdnnf15.noop component=tdnnf15.noop input=Sum(Scale(0.75, tdnnf14.noop), tdnnf15.dropout)
component name=tdnnf16.linear type=TdnnComponent input-dim=1536 output-dim=160 l2-regularize=0.008 max-change=0.75 use-bias=false time-offsets=-3,0 orthonormal-constraint=-1.0
component-node name=tdnnf16.linear component=tdnnf16.linear input=tdnnf15.noop
component name=tdnnf16.affine type=TdnnComponent input-dim=160 output-dim=1536 l2-regularize=0.008 max-change=0.75 time-offsets=0,3
component-node name=tdnnf16.affine component=tdnnf16.affine input=tdnnf16.linear
component name=tdnnf16.relu type=RectifiedLinearComponent dim=1536 self-repair-scale=1e-05
component-node name=tdnnf16.relu component=tdnnf16.relu input=tdnnf16.affine
component name=tdnnf16.batchnorm type=BatchNormComponent dim=1536
component-node name=tdnnf16.batchnorm component=tdnnf16.batchnorm input=tdnnf16.relu
component name=tdnnf16.dropout type=GeneralDropoutComponent dim=1536 dropout-proportion=0.0 continuous=true
component-node name=tdnnf16.dropout component=tdnnf16.dropout input=tdnnf16.batchnorm
component name=tdnnf16.noop type=NoOpComponent dim=1536
component-node name=tdnnf16.noop component=tdnnf16.noop input=Sum(Scale(0.75, tdnnf15.noop), tdnnf16.dropout)
component name=tdnnf17.linear type=TdnnComponent input-dim=1536 output-dim=160 l2-regularize=0.008 max-change=0.75 use-bias=false time-offsets=-3,0 orthonormal-constraint=-1.0
component-node name=tdnnf17.linear component=tdnnf17.linear input=tdnnf16.noop
component name=tdnnf17.affine type=TdnnComponent input-dim=160 output-dim=1536 l2-regularize=0.008 max-change=0.75 time-offsets=0,3
component-node name=tdnnf17.affine component=tdnnf17.affine input=tdnnf17.linear
component name=tdnnf17.relu type=RectifiedLinearComponent dim=1536 self-repair-scale=1e-05
component-node name=tdnnf17.relu component=tdnnf17.relu input=tdnnf17.affine
component name=tdnnf17.batchnorm type=BatchNormComponent dim=1536
component-node name=tdnnf17.batchnorm component=tdnnf17.batchnorm input=tdnnf17.relu
component name=tdnnf17.dropout type=GeneralDropoutComponent dim=1536 dropout-proportion=0.0 continuous=true
component-node name=tdnnf17.dropout component=tdnnf17.dropout input=tdnnf17.batchnorm
component name=tdnnf17.noop type=NoOpComponent dim=1536
component-node name=tdnnf17.noop component=tdnnf17.noop input=Sum(Scale(0.75, tdnnf16.noop), tdnnf17.dropout)
component name=tdnnf18.linear type=TdnnComponent input-dim=1536 output-dim=160 l2-regularize=0.008 max-change=0.75 use-bias=false time-offsets=-3,0 orthonormal-constraint=-1.0
component-node name=tdnnf18.linear component=tdnnf18.linear input=tdnnf17.noop
component name=tdnnf18.affine type=TdnnComponent input-dim=160 output-dim=1536 l2-regularize=0.008 max-change=0.75 time-offsets=0,3
component-node name=tdnnf18.affine component=tdnnf18.affine input=tdnnf18.linear
component name=tdnnf18.relu type=RectifiedLinearComponent dim=1536 self-repair-scale=1e-05
component-node name=tdnnf18.relu component=tdnnf18.relu input=tdnnf18.affine
component name=tdnnf18.batchnorm type=BatchNormComponent dim=1536
component-node name=tdnnf18.batchnorm component=tdnnf18.batchnorm input=tdnnf18.relu
component name=tdnnf18.dropout type=GeneralDropoutComponent dim=1536 dropout-proportion=0.0 continuous=true
component-node name=tdnnf18.dropout component=tdnnf18.dropout input=tdnnf18.batchnorm
component name=tdnnf18.noop type=NoOpComponent dim=1536
component-node name=tdnnf18.noop component=tdnnf18.noop input=Sum(Scale(0.75, tdnnf17.noop), tdnnf18.dropout)
component name=prefinal-l type=LinearComponent input-dim=1536 output-dim=256  orthonormal-constraint=-1.0 max-change=0.75 l2-regularize=0.008
component-node name=prefinal-l component=prefinal-l input=tdnnf18.noop
component name=prefinal-chain.affine type=NaturalGradientAffineComponent input-dim=256 output-dim=1536 l2-regularize=0.008 max-change=0.75
component-node name=prefinal-chain.affine component=prefinal-chain.affine input=prefinal-l
component name=prefinal-chain.relu type=RectifiedLinearComponent dim=1536 self-repair-scale=1e-05
component-node name=prefinal-chain.relu component=prefinal-chain.relu input=prefinal-chain.affine
component name=prefinal-chain.batchnorm1 type=BatchNormComponent dim=1536
component-node name=prefinal-chain.batchnorm1 component=prefinal-chain.batchnorm1 input=prefinal-chain.relu
component name=prefinal-chain.linear type=LinearComponent input-dim=1536 output-dim=256 l2-regularize=0.008 max-change=0.75 orthonormal-constraint=-1 
component-node name=prefinal-chain.linear component=prefinal-chain.linear input=prefinal-chain.batchnorm1
component name=prefinal-chain.batchnorm2 type=BatchNormComponent dim=256
component-node name=prefinal-chain.batchnorm2 component=prefinal-chain.batchnorm2 input=prefinal-chain.linear
component name=output.affine type=NaturalGradientAffineComponent input-dim=256 output-dim=4624  l2-regularize=0.005 max-change=1.5 param-stddev=0.0 bias-stddev=0.0
component-node name=output.affine component=output.affine input=prefinal-chain.batchnorm2
output-node name=output input=output.affine objective=linear
component name=prefinal-xent.affine type=NaturalGradientAffineComponent input-dim=256 output-dim=1536 l2-regularize=0.008 max-change=0.75
component-node name=prefinal-xent.affine component=prefinal-xent.affine input=prefinal-l
component name=prefinal-xent.relu type=RectifiedLinearComponent dim=1536 self-repair-scale=1e-05
component-node name=prefinal-xent.relu component=prefinal-xent.relu input=prefinal-xent.affine
component name=prefinal-xent.batchnorm1 type=BatchNormComponent dim=1536
component-node name=prefinal-xent.batchnorm1 component=prefinal-xent.batchnorm1 input=prefinal-xent.relu
component name=prefinal-xent.linear type=LinearComponent input-dim=1536 output-dim=256 l2-regularize=0.008 max-change=0.75 orthonormal-constraint=-1 
component-node name=prefinal-xent.linear component=prefinal-xent.linear input=prefinal-xent.batchnorm1
component name=prefinal-xent.batchnorm2 type=BatchNormComponent dim=256
component-node name=prefinal-xent.batchnorm2 component=prefinal-xent.batchnorm2 input=prefinal-xent.linear
component name=output-xent.affine type=NaturalGradientAffineComponent input-dim=256 output-dim=4624  learning-rate-factor=5.0 l2-regularize=0.005 max-change=1.5 param-stddev=0.0 bias-stddev=0.0
component-node name=output-xent.affine component=output-xent.affine input=prefinal-xent.batchnorm2
component name=output-xent.log-softmax type=LogSoftmaxComponent dim=4624
component-node name=output-xent.log-softmax component=output-xent.log-softmax input=output-xent.affine
output-node name=output-xent input=output-xent.log-softmax objective=linear
